*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overscroll-behavior: contain;
    background: #ddd;
}

/*! Componentes */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal.cerrado{ display: none; }
.ventana{
    width: 50%;
    background: #fff;
    border-radius: 3px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.boton{
    padding: 10px 20px;
    font-size: 1em;
    background: rgb(47, 186, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.boton:hover{ background: rgb(8, 173, 255); }
.boton:active{ background: rgb(0, 154, 231); }

/*! Formulario nombre */
#formularioNombre h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}
#formularioNombre div{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
}
#formularioNombre input{
    width: 60%;
    flex-grow: 1;
    font-size: 1.5em;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 3px;
}
#formularioNombre input[type=submit]{
    width: 30%;
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
}

/*! Pantalla completa */
#btnPantallaCompleta{ margin: 10px; }
#btnPantallaCompleta img{
    margin-left: 10px;
    vertical-align: sub;
}

/*! Canvas */
canvas{
    width: 100%;
    height: 100vh;
    display: block;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

/*! Ventana ganador */
#modalAlerta .ventana{ font-size: 1.5em; }
.modalAlerta__texto{ margin-bottom: 30px; }

/*! Diseño responsivo */
@media screen and (max-width: 1100px){
    #formularioNombre input{ font-size: 1.2em; }
}

@media screen and (max-width: 1000px){
    #formularioNombre input{ width: 100%; }
    #formularioNombre{ width: 60%; }
}

@media screen and (max-width: 768px){
    #formularioNombre{ width: 80%; }
}